h1 a{
    background-image:url(../images/logo.png);
    display:block;
    width:100px;
    height: 50px;
    text-indent:25em;
    overflow:hidden;
    white-space:nowrap;
    background-size:contain;
    background-repeat:no-repeat;
}

.nav-hover{
    color:#772400;
    &:hover{
        color:#F8B52E;
    }
}
.menu-color{
    color:#F8B52E;
    width: 36px;
    height: 24px;
}

/*media(576,768)
@media(max-width:768px){
    .ms-sm-69{
        margin-left: 69px;
    }
}*/