
.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.main-pic{
    display:block;
    width: 255px;
    height: 128px;
    overflow:hidden;
    background-size:cover;
    background-position:center center;
    object-fit:cover;
}

.main-list{
    padding-top: 8px;
    padding-left: 17px;
}
.bg-cjo{
    background-color: #FAFAFA;
}
.list-9{
    padding: 12px 50px;
    background-color: #fff;
    &:hover{
        background-color: #F8B52E;
        color:#fff;
    }
}