//header
.header-fig{
    display:block;
    object-fit:cover;
    max-width: 100%;
    height: 736px;
    /*overflow:hidden;
    background-size:cover;
    background-position:center center;*/
    @media(max-width:768px){
        width: 210px;
        height: 288px;
    }
    @media(max-width:372px){
        width: 375px;
        height: 325px;
    }
}
.btn-color{
    background-color:#D54100;
}

//card
.border-solid{
    display:block;
    object-fit:cover;
    overflow:hidden;
    background-size:cover;
    background-position:center center;
    border:5px solid #fff;
}
.pic-photo{
    margin-top: -50px;
}
.card-350{
    width: 350px;
}
.pic-width{
    width: 100%;
    height: 150px;
    display:block;
    object-fit:cover;
    overflow:hidden;
    background-size:cover;
    background-position:center center;
}
.mb-md-12{
    margin-bottom: 12px;
}

//線上預約
.opacity-7{
    cursor: pointer;
    opacity: 0.7;
    &:hover{
        opacity:1;
    }
}
.section-title{
    position:absolute;
    font-size: 24px;
    top:50%;
    left:30%;
    z-index: 1;
}
.section-fig{
    display:block;
    object-fit:cover;
    overflow:hidden;
    background-size:cover;
    background-position:center center;
}

//PETPET目前已有
.list7{
    background-image: url(../images/index-9.jpeg);
    display:block;
    max-width: 100%;
    height: 584px;
    background-size:cover;
    background-position:center center;
    object-fit:cover;
}
.section2-title{
    top:0;
}




//but
.but-style{
    background-color: #D54100;
    border:1px solid #CED4DA;
    &:hover{
        background-color: #F8B52E;
    }
}
.but-color{
    background-color: #D54100;
    &:hover{
        background-color: #F8B52E;
    }
}
.list1{
    padding-top: 11px;
    padding-bottom: 9px;

    border:1px solid #CED4DA;
}
.list2{
    padding:9px 27px;
}

//margin
.me-30{
    margin-right: 30px;
    @media(max-width:576px){
        margin-right: 0px;
        margin-bottom: 12px;
    }
}



