<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--Bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <!--google icon-->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
    
    <title>desktop-detail</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <main class="container">
      <div class="row">
        <!--毛孩好家-->
        <section class="col-lg-6 col-md-7">
          <div class="d-flex align-items-center mb-3">
            <h2 class="fsz-color fw-bold mr-18">毛孩好家</h2>
            <ul class="d-flex flex-row list-unstyled">
              <li><span class="material-symbols-outlined text-warning">grade</span></li>
              <li><span class="material-symbols-outlined text-warning">grade</span></li>
              <li><span class="material-symbols-outlined text-warning">grade</span></li>
              <li><span class="material-symbols-outlined text-warning">grade</span></li>
              <li><span class="material-symbols-outlined text-warning">grade</span></li>
            </ul>
          </div>
          <h4 class="fsz-color fw-bold mb-2">給予毛孩最舒適的環境是我們的職責！</h4>
          <h6 class="fsz-color mb-60">已提供 52 筆服務、並獲得 30 個評價</h6>
          <h5 class="fsz-color fw-bold mb-3">服務內容</h5>
          <p class="fsz-color mb-2">寄宿 NT$ 450 /晚</p>
          <p class="fsz-color">美容洗澡 NT$ 500 （含剪指甲、剃腳底毛、清耳朵）</p>
          <p class="fs-14 fsz-color2 mb-2">個性貓另加價</p>
          <p class="fsz-color mb-40">到府保姆 NT$ 550 /晚</p>
          <ul class="list-unstyled mb-60 d-flex">
            <li><span class="material-symbols-outlined fsz-color">location_on</span></li>
            <li>
              <p class="fsz-color">高雄市鹽埕區七賢三路123號</p>
              <p class="fsz-color">服務區域：高雄市 全區</p>
            </li>
          </ul>
          <ul class="row list-unstyled d-flex align-items-center">
            <li class="col-lg-4 col-md-5 mr-30"><a href="#" class="btn btn-lg btn-outline-danger mx-auto d-block">聯繫</a></li>
            <!-- Button trigger modal -->
            <li class="col-lg-6 col-md-5"><a href="#" class="btn btn-lg btn-danger mx-auto d-block" 
              data-bs-toggle="modal" data-bs-target="#exampleModal">立刻預約</a></li>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg modal-dialog-centered d-flex align-items-center position-relative w-auto  pe-none">
                  <div class="modal-content container-fluid px-0">
                    <div class="row">
                      <div class="modal-content">
                        <div class="modal-body">
                          <!--標題-->
                          <div class="col-lg-8 order-1">
                            <h4 class="fsz-color fw-bold">預約項目</h4>
                          </div>
                          <!--img-->
                          <div class="col-lg-4 poition-lg-right d-flex flex-lg-column align-items-lg-start align-items-center order-1">
                            <img src="../assets/images/homestay-3.jpeg" alt="毛孩好家">
                            <div>
                              <div class="d-flex align-items-center flex-wrap mb-0">
                                <h2 class="fsz-color fw-bold">毛孩好家</h2>
                                <ul class="d-flex flex-row list-unstyled">
                                  <li><span class="material-symbols-outlined text-warning">grade</span></li>
                                  <li><span class="material-symbols-outlined text-warning">grade</span></li>
                                  <li><span class="material-symbols-outlined text-warning">grade</span></li>
                                  <li><span class="material-symbols-outlined text-warning">grade</span></li>
                                  <li><span class="material-symbols-outlined text-warning">grade</span></li>
                                </ul>
                              </div>
                              <ul class="list-unstyled d-flex">
                                <li><span class="material-symbols-outlined fsz-color">location_on</span></li>
                                <li><p class="fsz-color">高雄市苓雅區、新興區、前鎮區</p></li>
                              </ul>
                            </div>
                          </div>
                          <!--card-->
                          <div class="col-lg-8 order-1">
                            <ul class="row list-unstyled"><!---card-link-->
                              <li class="col-3"><!--1-->
                                <input type="checkbox" name="hotel" id="checkboxHotel" class="form-control d-none" checked="checked">
                                <label for="checkboxHotel" class="w-100 h-100 cursor-pounter">
                                  <div class="card card-shadow border-width-3 h-100">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                      <span class="material-symbols-outlined">home</span>
                                      <p class="fsz-color fw-bold">寄宿</p>
                                    </div>
                                  </div>
                                </label>
                              </li>
                              <li class="col-3"><!--2-->
                                <input type="checkbox" name="hotel" id="checkboxHotel" class="form-control d-none" checked="checked">
                                <label for="checkboxHotel" class="w-100 h-100 cursor-pounter">
                                  <div class="card card-shadow border-width-3 h-100">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                      <span class="material-symbols-outlined">glucose</span>
                                      <p class="fsz-color fw-bold">寄宿</p>
                                    </div>
                                  </div>
                                </label>
                              </li>
                              <li class="col-3"><!--3-->
                                <input type="checkbox" name="hotel" id="checkboxHotel" class="form-control d-none" checked="checked">
                                <label for="checkboxHotel" class="w-100 h-100 cursor-pounter">
                                  <div class="card card-shadow border-width-3 h-100">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                      <span class="material-symbols-outlined">roofing</span>
                                      <p class="fsz-color fw-bold">寄宿</p>
                                    </div>
                                  </div>
                                </label>
                              </li>
                              <li class="col-3"><!--4-->
                                <input type="checkbox" name="hotel" id="checkboxHotel" class="form-control d-none" checked="checked">
                                <label for="checkboxHotel" class="w-100 h-100 cursor-pounter">
                                  <div class="card card-shadow border-width-3 h-100">
                                    <div class="card-body d-flex flex-column align-items-center justify-content-center">
                                      <span class="material-symbols-outlined">blind</span>
                                      <p class="fsz-color fw-bold">寄宿</p>
                                    </div>
                                  </div>
                                </label>
                              </li>
                            </ul>
                            <div><!--date-->
                              <h3>選擇日期</h3>
                              <div class="row">
                                <div class="col-md-6 d-flex align-items-center">
                                  <input type="date" id="date">
                                  <p>至</p>
                                </div>
                                <div class="col-md-6 d-flex align-items-center">
                                  <input type="date" id="date">
                                  <p>共 1 晚</p>
                                </div>
                              </div>
                            </div>
                            <div class="row d-flex align-items-center"><!--data-->
                              <div class="col-md-3 col-4"><!--1-->
                                <h3>毛孩數量</h3>
                                <select name="mun" id="quantity" class="form-select" aria-label="Default select example">
                                  <option selected>1隻</option>
                                  <option value="1">2隻</option>
                                  <option value="2">3隻</option>
                                </select>
                              </div>
                              <div class="col-md-4 col-4"><!--2-->
                                <h3>您的毛孩是</h3>
                                <select name="mun" id="pet" class="form-select" aria-label="Default select example">
                                  <option selected>貓</option>
                                  <option value="1">狗</option>
                                </select>
                              </div>
                              <div class="col-md-4 col-4"><!--3-->
                                <h3>年齡</h3>
                                <select name="mun" id="old" class="form-select" aria-label="Default select example">
                                  <option selected>1歲</option>
                                  <option value="1">5歲</option>
                                  <option value="2">10歲以上</option>
                                </select>
                              </div>
                            </div>
                          </div>
                          <!--進度-->
                          <div class="col-lg-8 order-0 order-md-1">
                            <ul class="row mb-0">
                              <li class="col-4"><!--1-->
                                <div class="schedule">
                                  <h6 class="fw-bold">預約項目</h6>
                                </div>
                              </li>
                              <li class="col-4"><!--2-->
                                <div class="schedule">
                                  <h6>預約資料</h6>
                                </div>
                              </li>
                              <li class="col-4"><!--3-->
                                <div class="schedule">
                                  <h6>付款資訊</h6>
                                </div>
                              </li>
                            </ul>
                          </div>
                          <!--btn-->
                          <div class="col-lg-4 oder-1">
                            <div class="row">
                              <div class="col-lg-12 col-md-7 col-12 d-flex align-items-center justify-content-lg-center justify-content-md-end justify-content-center">
                                <a href="#" data-dismiss="modal">返回</a>
                              </div>
                              <div class="col-lg-12 col-md-7 col-12">
                                <button class="text-lg w-100" id="btnModalResewveInf">下一步</button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          </ul>
        </section>

        <!--img-->
        <section class="col-lg-6 col-md-5">
          <div class="row">
            <img class="col-10 col-md-4 col-lg-12 rounded content-img mb-12" src="../assets/images/homestay-3.jpeg" alt="毛孩好家">
            <ul class="col-2 col-md-1 col-lg-7 list-unstyled d-flex align-items-center mb-188">
              <li><img class="rounded box-img me-2" src="../assets/images/homestay-3.jpeg" alt="1"></li>
              <li><img class="rounded box-img me-2" src="../assets/images/index-5.jpeg" alt="2"></li>
              <li><img class="rounded box-img me-2" src="../assets/images/detail-1.jpeg" alt="3"></li>
              <li><img class="rounded box-img me-2" src="../assets/images/detail2.jpeg" alt="4"></li>
            </ul>

            <ul class="list-unstyled mb-7"><!--關於-->
              <li class="mb-40">
                <h4 class="fw-bold fsz-color">關於</h4>
                <h5 class="fsz-color">家中有5隻貓寶貝，對貓咪有瘋狂的熱愛 。 <br>
                  目前已經照顧超過30位狗狗貓咪朋友！對於我來說，能夠與你們相遇都是緣分！</h5>
              </li>
              <li class="mb-40">
                <h4 class="fw-bold fsz-color">經歷</h4>
                <h5 class="fsz-color">曾接手過數次奶貓，照顧後送養成功，目前都是健健康康的毛孩。</h5>
              </li>
              <li class="mb-40">
                <h4 class="fw-bold fsz-color">技能證照</h4>
                <h5 class="fsz-color">寵物美容丙級技術證</h5>
              </li>
              <li class="mb-40">
                <h4 class="fw-bold fsz-color">提供</h4>
                <h5 class="fsz-color">貓砂盆、罐頭、乾飼料</h5>
              </li>
              <li class="mb-40">
                <h4 class="fw-bold fsz-color">毛孩活動範圍</h4>
                <h5 class="fsz-color">想去的任何地方</h5>
              </li>
              <li>
                <h4 class="fw-bold fsz-color">服務地區</h4>
                <h5 class="fsz-color">高雄市</h5>
              </li>
            </ul>

            <div class="mb-7"><!--飼主評論（30）-->
              <h3 class="fw-bold fsz-color mb-4">飼主評論（30）</h3>
              <ul class="row list-unstyled d-flex justify-content-between align-items-center">
                <li class="col-md-5 content-border rounded d-flex justify-content-start align-items-center py-14 pe-43 mb-20"><!--1-->
                  <img src="../assets/images/person-4.png" alt="葉子">
                  <div>
                    <h6 class="fsz-color mb-2">葉子<small>Oct 17 2020</small></h6>
                    <ul class="d-flex flex-row list-unstyled mb-11">
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                    </ul>
                    <h6 class="fsz-color">服務很秋！</h6>
                  </div>
                </li>
                <li class="col-md-5 content-border rounded d-flex justify-content-start align-items-center py-14 pe-43 mb-20"><!--2-->
                  <img src="../assets/images/person-5.png" alt="Joanne">
                  <div>
                    <h6 class="fsz-color mb-2">Joanne<small>Oct 17 2020</small></h6>
                    <ul class="d-flex flex-row list-unstyled mb-11">
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                    </ul>
                    <h6 class="fsz-color">貓完全不想回家了。</h6>
                  </div>
                </li>
                <li class="col-md-5 content-border rounded d-flex justify-content-start align-items-center py-14 pe-43 mb-20"><!--3-->
                  <img src="../assets/images/person-6.png" alt="Ray">
                  <div>
                    <h6 class="fsz-color mb-2">Ray<small>Oct 17 2020</small></h6>
                    <ul class="d-flex flex-row list-unstyled mb-11">
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                    </ul>
                    <h6 class="fsz-color">超喜歡超棒超讚的...</h6>
                  </div>
                </li>
                <li class="col-md-5 content-border rounded d-flex justify-content-start align-items-center py-14 pe-43 mb-20"><!--4-->
                  <img src="../assets/images/person-7.png" alt="穎旻">
                  <div>
                    <h6 class="fsz-color mb-2">穎旻<small>Oct 17 2020</small></h6>
                    <ul class="d-flex flex-row list-unstyled mb-11">
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                    </ul>
                    <h6 class="fsz-color">下次還會麻煩您～</h6>
                  </div>
                </li>
                <li class="col-md-5 content-border rounded d-flex justify-content-start align-items-center py-14 pe-43 mb-20"><!--5-->
                  <img src="../assets/images/person-8.png" alt="俊儀">
                  <div>
                    <h6 class="fsz-color mb-2">俊儀<small>Oct 17 2020</small></h6>
                    <ul class="d-flex flex-row list-unstyled mb-11">
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                    </ul>
                    <h6 class="fsz-color">讚的！</h6>
                  </div>
                </li>
                <li class="col-md-5 content-border rounded d-flex justify-content-start align-items-center py-14 pe-43 mb-20"><!--6-->
                  <img src="../assets/images/person-9.png" alt="子琪">
                  <div>
                    <h6 class="fsz-color mb-2">子琪<small>Oct 17 2020</small></h6>
                    <ul class="d-flex flex-row list-unstyled mb-11">
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                      <li><span class="material-symbols-outlined text-warning">grade</span></li>
                    </ul>
                    <h6 class="fsz-color">服務很棒耶哈哈哈！</h6>
                  </div>
                </li>
              </ul>
              <a class="fw-bold float-end h5 hover-check" href="#">查看更多</a>
            </div>

            <!--其他 高雄市 寄宿 的寵物保姆-->
            <div class="mb-7">
              <h3 class="fw-bold fsz-color mb-4">其他 
                <a href="#" class="fsz-color2 text-decoration-underline">高雄市</a> 
                <a href="#" class="fsz-color2 text-decoration-underline">寄宿</a> 的寵物保姆</h3>
                <ul class="row list-unstyled d-flex justify-content-between align-items-center">
                  <li class="col-4 col-md-4 shadow-sm mb-32 rounded"><!--1-->
                    <div class="card-shadow rounded-top h-100 bg-white">
                      <img class="main-pic" src="../assets/images/homestay-2.jpeg" alt="寵屋屋">
                      <div class="card-bady pb-0 main-list mb-40">
                        <h6 class="fsz-color off-mb-6 mt-2">寵屋屋</h6>
                        <ul class="d-flex flex-row off-mb-6 list-unstyled">
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                        </ul>
                        <p class="fsz-color">寄宿、美容洗澡、到府保姆</p>
                      </div>
                    </div>
                  </li>
                  <li class="col-4 col-md-4 shadow-sm mb-32 rounded"><!--2-->
                    <div class="card-shadow rounded-top h-100 bg-white">
                      <img class="main-pic" src="../assets/images/homestay-3.jpeg" alt="毛孩好家">
                      <div class="card-bady pb-0 main-list mb-40">
                        <h6 class="fsz-color off-mb-6 mt-2">毛孩好家</h6>
                        <ul class="d-flex flex-row off-mb-6 list-unstyled">
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                        </ul>
                        <p class="fsz-color">寄宿、美容洗澡、到府保姆</p>
                      </div>
                    </div>
                  </li>
                  <li class="col-4 col-md-4 shadow-sm mb-32 rounded"><!--3-->
                    <div class="card-shadow rounded-top h-100 bg-white">
                      <img class="main-pic" src="../assets/images/homestay-4.jpeg" alt="妖貓X僕SS">
                      <div class="card-bady pb-0 main-list mb-40">
                        <h6 class="fsz-color off-mb-6 mt-2">妖貓X僕SS</h6>
                        <ul class="d-flex flex-row off-mb-6 list-unstyled">
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                        </ul>
                        <p class="fsz-color">寄宿、美容洗澡</p>
                      </div>
                    </div>
                  </li>
                  <li class="col-4 col-md-4 shadow-sm mb-32 rounded"><!--4-->
                    <div class="card-shadow rounded-top h-100 bg-white">
                      <img class="main-pic" src="../assets/images/homestay-5.jpeg" alt="貓是主我是僕">
                      <div class="card-bady pb-0 main-list mb-40">
                        <h6 class="fsz-color off-mb-6 mt-2">貓是主我是僕</h6>
                        <ul class="d-flex flex-row off-mb-6 list-unstyled">
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                        </ul>
                        <p class="fsz-color">寄宿、美容洗澡、到府保姆</p>
                      </div>
                    </div>
                  </li>
                  <li class="col-4 col-md-4 shadow-sm mb-32 rounded"><!--5-->
                    <div class="card-shadow rounded-top h-100 bg-white">
                      <img class="main-pic" src="../assets/images/homestay-6.jpeg" alt="汪汪隊">
                      <div class="card-bady pb-0 main-list mb-40">
                        <h6 class="fsz-color off-mb-6 mt-2">汪汪隊</h6>
                        <ul class="d-flex flex-row off-mb-6 list-unstyled">
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                        </ul>
                        <p class="fsz-color">寄宿、到府保姆、寵物行為訓練</p>
                      </div>
                    </div>
                  </li>
                  <li class="col-4 col-md-4 shadow-sm mb-32 rounded"><!--6-->
                    <div class="card-shadow rounded-top h-100 bg-white">
                      <img class="main-pic" src="../assets/images/homestay-7.jpeg" alt="卯咪">
                      <div class="card-bady pb-0 main-list mb-40">
                        <h6 class="fsz-color off-mb-6 mt-2">卯咪</h6>
                        <ul class="d-flex flex-row off-mb-6 list-unstyled">
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                          <li><span class="material-symbols-outlined text-warning">grade</span></li>
                        </ul>
                        <p class="fsz-color">寄宿、寵物行為訓練</p>
                      </div>
                    </div>
                  </li>
              </ul>
            </div>
          </div>
        </section>
      </div>
    </main>



    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>

    <!--Bootstrap-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>
  
  </body>
</html>
